@import url('https://fonts.google.com/specimen/Lato?selection.family=Lato');
body {
    font-family: Lato;
}

nav {
    background-color: transparent;
}

nav .container {
    position: relative;
    padding-top: 10px;
    margin-left: 4%;
    margin-right: 6%;
}

.social-media {
    float: left;
    margin-top: 14px;
}

.social-media ul, .menu-container ul {
    list-style: none;
}

.social-media ul li, .menu-container ul li {
    display: inline-block;
}

.social-media ul li {
    margin-right: 7px;
}

.menu-container {
    text-align: center;
}

.menu-container ul li {
    margin-right: 22px;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo-container {
    position: absolute;
    left: 50%;
    top: 10px;
}

.search-bar {
    float: right;
    width: 25%;
    margin-top: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    background-color: transparent;
    text-align: center;
    padding-top: 2px;
    border-radius: 50%;
    border: 2px solid #191919;
}

.search-input {
    border: none;
    font-size: 1em;
    background-color: transparent;
    background-image: url('../img/fa-search.png');
    background-position: 99% 11px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    box-shadow: none;
    border-radius: 30px;
    display: inline-block;
}

.search-input:focus {
    border-color: #9c9c9c;
}

hr {
    border-bottom: 2px solid #000;
}

.home-banner {
    background-image: url('../img/banner2.png');
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

footer {
    background-color: #363636;
    height: 245px;
    padding-top: 3%;
}

.footer-menu {
    float: left;
    font-size: 1vw;
    margin-left: 20px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    display: inline-block;
    margin-right: 75px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.875em;
}

.footer-large-text {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
}

.footer-bottom-container {
    width: 80%;
    margin: 0 auto;
}

.footer-text {
    font-weight: 400;
    font-size: 1vw;
    width: 75%;
}

.clr {
    content: "";
    clear: both;
}

.white {
    border-bottom: 2px solid #fff;
}

.black {
    color: #000;
}

.copy-right {
    float: right;
    margin-right: 6%;
    color: white;
    font-size: 0.813em;
}

.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: #f1eeee;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 0.750em;
    font-weight: 600;
    box-shadow: 3px 3px 0px 0px rgba(97, 96, 96, 0.4);
}

.btn:hover, .btn:active, .btn:focus {
    color: black;
    background-color: white;
}

.downlad-button {
    margin-right: 8px;
}

.banner-container {
    width: 100%;
}

.home-banner h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 3.750em;
    font-family: 'Lato', sans-serif;
    padding-top: 10%;
}

.home-banner p {
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.500em;
}

.center-button {
    display: block;
    text-align: center;
}

.home-author {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.slider-blog-text {
    position: relative;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 800px;
}

.slider-blog-text h6 {
    font-size: 1.2vw;
    font-weight: 500;
}

.slider-blog-text h3 {
    font-size: 4vw;
    font-weight: 500;
}

.top-news-1-image {
    background-image: url('../img/img10.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 15px;
}

.top-news-content {
    padding-top: 3%;
}

.top-news-content h5 {
    font-size: 0.875em;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-news-content p {
    font-size: 1em;
}

.top-news-date {
    font-size: 0.875em;
}

.top-news-content hr {
    border-bottom: 1px solid #eeeeee;
}

.top-news-date span {
    margin-right: 15px;
    margin-bottom: 10px;
}

.top-news-date i {
    margin-right: 5px;
}

.section-content {
    padding: 4%;
}

.slider-image {
    padding: 5%;
}

.slider-image-content {
    padding: 10%;
}

.slider-image-content h6 {
    font-family: 'Lato', sans-serif;
}

.slider-image-content h3 {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 33px;
    color: white;
    margin-bottom: 25px;
}

.trending-content .controls {
    position: absolute;
    width: 90%;
    top: 335px;
    margin-left: 5%;
}

.trending-content .controls .controls-buttons {
    margin-top: 0px;
}

.trending-content .controls .controls-buttons .button-prev {
    float: left;
    background-color: transparent;
}

.trending-content .controls .controls-buttons .button-next {
    float: right;
    background-color: transparent;
}

.trending-content .controls .controls-buttons .controls-dots {
    padding-top: 5px;
    display: inline-block;
    width: 20%;
}

.trending-content .circle {
    background: transparent;
    border: 2px solid #f1eeee;
}

.trending-content .controls .controls-buttons .controls-dot-selected {
    background: #f1eeee;
}

.trending-content {
    position: relative;
}

.trending-content-left {
    width: 90%
}

.home-posts {
    margin-bottom: 25px;
    padding: 0;
}

.home-posts:first-child, .home-posts:nth-child(2) {
    padding-right: 0.625rem;
}

.home-posts:nth-child(2), .home-posts:nth-child(3) {
    padding-left: 0.625rem;
}

.home-card-layout .columns {
    padding: 7px;
}

.home-card-layout {
    margin-top: 40px;
}

.tags-list {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    text-align: left;
}

.tags-list__item {
    display: inline-block;
    vertical-align: middle;
}

.tags-list__link {
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10px;
    font-size: 7pt;
    font-family: 'Lato', sans-serif;
    color: rgb(149, 151, 153);
    font-weight: bold;
    text-transform: uppercase;
}

.share-container p {
    letter-spacing: 2px;
}

.home-text {
    font-weight: 300;
    margin-bottom: 50px;
}

.section-authors {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.authors-slider__item {
    text-align: center;
}

.authors-border {
    border-bottom: 1px solid;
    margin: 0 auto;
    margin-top: 5px;
}

.authors-title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: .6rem;
    margin-top: 20px;
}

.authors-name {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 10px;
}

.authors-slider-image {
    margin: 7%;
    background-color: white;
}

.authors-slider-image:hover {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.60), 0 5px 12px rgba(0, 0, 0, 0.24);
}

.section-authors .controls .controls-dots {
    margin-top: 50px;
}

.section-authors .circle {
    background-color: #949494;
}

.section-authors .controls .controls-dots .controls-dot-selected {
    background-color: #333333;
}
