.banner {
    background-image: url('../img/banner3.png');
    height: 80vh;
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 12px;
}

.text-div {
    position: absolute;
    padding-left: 15%;
}

.title {
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 4vw;
    letter-spacing: 1px;
}

.category {
    color: yellow;
    font-family: 'Lato', sans-serif;
    margin-bottom: -10px;
    font-size: 0.8em;
    font-weight: bold;
}

.article-mid-section {
    padding-top: 5%;
}

.article {
    padding-right: 10%;
}

.article p {
    font-family: 'Lato', sans-serif;
    line-height: 2;
    font-size: 1em;
}

.article img {
    margin-top: 50px;
    margin-bottom: 40px;
}

.article h5 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.share-container {
    display: inline-block;
    vertical-align: middle;
}

.share-container p {
    display: inline-block;
    margin-right: 40px;
    margin-top: 55px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.share-container__list {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

.share-container__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.share-container__link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.85em;
    font-weight: bold;
    color: white;
}

.share-container__link:hover {
    color: white;
}

.facebook-share {
    background-color: #4C68B2;
    border-radius: 5px;
    padding: 2px;
}

.twitter-share {
    background-color: #02ABEE;
    border-radius: 5px;
    padding: 2px;
}

.google-share {
    background-color: #D73D33;
    border-radius: 5px;
    padding: 2px;
}

.article-icon {
    color: white;
    padding-left: 5px;
}

.comments-section {
    background-color: rgb(243, 243, 243);
    height: 100%;
    /*padding-bottom: 25px;*/
    align-content: center;
    max-width: 100%;
}

.inner-comments-section {
    margin: auto;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 0.750em;
}

.inner-comments-section p {
    color: #9c9c9c;
}

.border {
    width: 100%;
    height: 2px;
    background-color: rgb(204, 204, 204);
}

.comment {
    margin-top: 30px;
}

.comment .img-div {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.comment-div .row {
    margin-left: 0;
}

.comment .comment-div {
    /*display: inline-block;*/
}

.comment .comment-div h6 {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    display: inline-block;
    color: rgb(76, 76, 76);
    text-align: center;
    margin-right: 4%;
}

.comment-div input, .comment-div input:focus {
    border: none;
    background-color: rgb(243, 243, 243);
    box-shadow: none;
    font-size: 1em;
    font-style: italic;
    color: #D7D7D7;
}

.comment-div input:focus {
    color: rgb(76, 76, 76);
}

.comment-div {
    margin-bottom: 20px;
}
