@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

	100% {
		opacity: 0;
	}
}

.blog-slider {
	position: relative;
}

.blog-slider-arrow {
	position: absolute;
	width: 100%;
	top: 50%;

}

.blog-left-arrow {
	position: absolute;
	left: 0;
	margin-left: 50px;
}

.blog-right-arrow {
	position: absolute;
	right: 0;
	margin-right: 50px;
}

.blog-btn {
	display: block;
	text-align: center;
}

.blog-filter-layout {
	/*background-color: red;*/
	/*text-align: center;*/
}
.no-margin {
	margin: 0;
	max-width: none;
}

.blog-elements-layout {
	/*position: absolute;*/
	/*left: 50%;*/
	/*background-color: green;*/
	display: inline-block;
	text-align: left;
}

.blog-tag-layout {
	background-color: white;
	padding: 20px;
	text-align: center;
	margin-right: 40px;
}

.blog-filter-layout .row .column{
  padding: 0;
  /*background-color: green;*/
}

.blog-filter-layout .row {
	margin-left: 40px;
	margin-right: 30px;
  margin-top: 50px;
}

.blog-filter-layout .row:nth-child(2) {
  margin-bottom: 50px;
}

.blog-filter-layout .row .column:nth-child(2) {
	padding-left: 30px;
}

.dropdown-layout {
  display: inline-block;
}

.dropdown-category {

}

.dropdown-sortby {

}

.dropdown {
	position: relative; /* Enable absolute positioning for children and pseudo elements */
  width: 150px;
  margin: 0 auto;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
	position: absolute;
	width: 100%;
	left: 0;
	opacity: 0;
	display: none;
	animation: fadeOut .5s;
	animation-delay: .5s;
}

.dropdown-content.active {
	opacity: 1;
	display: block;
	animation: fadeIn .5s;
}

.dropdown-list {
	list-style: none;
}

.dropdown-list__item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.dropdown-list__link {
	color: white;
}

.dropdown-list__item:hover .dropdown-list__link {
	color: #1779ba;
}

.dropdown-arrow {
	position: absolute;
	right: 0;
	margin-right: 8px;
	top: 35%;
}

.dropdown-visible {
	padding: 10px;
}

.tags-text {
	text-transform: uppercase;
	border-bottom: 1px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-style: solid;
	border-color: #1bacc2;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 12px;
	padding-bottom: 5px;
}
