.cards-table-layout {
  background-color: white;
  padding: 80px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.cards-table-layout .columns {
  padding: 7px;
}

.card {
  box-shadow: 0 1px 6px rgba(250,250,250,0.90), 0 1px 6px rgba(0,0,0,0.24);
}

.card:hover {
  box-shadow: 0 5px 12px rgba(0,0,0,0.20), 0 5px 12px rgba(0,0,0,0.24);
}

.card-image {
   width: 100%;
   height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-info__layout {
  padding: 20px;
}

.card-info__list {
  list-style: none;
  margin: 0;
}

.card-info__item {
  display: inline-block;
}

.card-info__item i, .news-comments, .news-date {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  color: #aaaaaa;
}

.card-info__item i {
  margin-left: 5px;
}

.news-comments, .news-date {
  margin-left: 3px;
}

.news-text {
  margin: 0;
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
}

.news-title {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;

}


.clear {
  clear: both;
}
