.black-100 {
  color: #000000;
}

.header-line-color {
  color: #3e3e3e;
}

.banner-color {
  color: #2e3736;
}

.light-gray {
  color: #9c9c9c;
}

.home-medium-text-color {
  color: #1c1c1c;
}

.home-small-text-color {
  color: #333333;
}

.home-slider-line {
  color: #dcdcdc;
}

.red {
  background-color: #ff4e4e;
}

.white {
  color: #f1eeee;
}

.white-bg {
  background-color: #f1eeee;
}

.white-100{
  color: #ffffff;
}

.white-100-bg {
  background-color: #ffffff;
}

.white-100-border {
  border-color: #ffffff;
}

.blue {
  background-color: #007fff;
}

.purple {
  color: #8762ff;
}

.purple-bg {
  border-color: #8762ff;
}

.footer-gray {
  color: #333333;
}

.footer-line-color {
  color: #f5f5f5;
}

.footer-text-color {
  color: #949494
}

.footer-list-color {
  color: #f2f2f2;
}

.green {
  color: #54b31a;
}

.orange-text {
  color: #ffc22f;
}

.blue-text {
  color: #0054ff;
}

.kaki {
  color: #cab500;
}

.blog-slider-arrow-color {
  color: #242424;
}

.gray-bg {
  background-color: #f5f6f7;
}

.gray-text{
  color: #3E3E3E;
}

.dropdown-bg {
  background-color: #2e3736;
}

.tags-text-color {
  color: #1bacc2;
}
