.slider-image {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.slider {
    width: 400%;
    height: 100%;
    margin: 0;
}

.slider li {
    float: left;
    display: inline;
}


.container-slider {
    overflow: hidden;
}

.controls-buttons {
    margin-top: 15px;
    width: 100%;
    display: inline-block;
}

.button-prev, .button-next {
    border-radius: 30px;
    background-color: gray;
    width: 30px;
    height: 30px;
    color: white;
}

.button-prev:active, .button-next:active{
  background-color: #1779ba;
}

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #ccc;
    margin-right: 5px;
}

.controls-dots {
    display: inline-block;
    width: 100%;
}

.controls-dot-selected{
  background: #1779ba
}
